.prEdit,
.prEditPanel,
.prView,
.prView-body {

    .jstree-checkbox {
        margin-right: 0.5em;
    }
    li.pr-disabled,
    li.pr-view-inherited{
        color: gray;
        font-style: italic;
    }

    .pr-tab {
        padding-top: 1em;
        ul {
            line-height: 1.75em;
        }
    }
}
