.prEdit,
.prEditPanel,
.prView,
.prView-body {

    .jstree-checkbox {
        margin-right: 0.25em;
    }
    li.pr-disabled {
        color: gray;
        font-style: italic;
    }
    // have some padding for the accordion
    .pr-edit-scoped-pane > div {
        padding-left: 1em;
    }
    .pr-edit-scoped-pane {
        .scoped-item {
            display: flex;
            flex-direction: row;
            .scoped-accordion {
                flex-grow: 1;
                .accordion-button {
                    --bs-accordion-btn-padding-x: 0.625em;
                    --bs-accordion-btn-padding-y: 0.75em;
                }
            }
            .scoped-right {
                .scoped-td {
                    display: flex;
                    margin-top: 1em;
                    .js-minus {
                        margin-left: 0.5em;
                    }
                }
            }
        }
    }
    .pr-edit-scoped-plus {
        .plusButton {
            margin: 0;
        }
    }
    .pr-scoped,
    .pr-global {
        height: 100%;
    }
    .pr-no-global,
    .pr-no-scoped {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-style: italic;
    }
    .pr-edit-scoped-pane,
    .pr-view-scoped-pane {
        .scoped-item:not( :first-child ){
            margin-top: 0.25em;
        }
    }
    // readonly checkboxes
    li.pr-editable-false {
        .jstree-disabled.jstree-clicked,
        .jstree-wholerow-clicked {
            background: none;
        }
    }
}

.pr-scoped-accounts-panel {
    .encloser > .left {
        border: 1px solid lightgray;
        border-radius: 0.25em;
        padding: 1em;
    }
    .encloser > .right {
        margin-left: 1em;
    }
    .pr-tree {
        li.jstree-node,
        .jstree-wholerow,
        a.jstree-anchor {
            line-height: 1.8em;
            min-height: 1.8em;
        }
        li.jstree-node svg.type-role {
            height: 1em;
            color: var( --bs-primary );
        }
        li.jstree-node svg.type-account {
            height: 1em;
            color: var( --bs-info );
        }
    }
}

.pr-tree {
    overflow-y: auto;
}
