<template name="prRolesView">
    <div class="prRolesView">

        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title">{{ modalTitle }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <ul class="nav nav-tabs" role="tablist">
                            {{#each it in tabItems }}
                                <li class="nav-item" role="presentation">
                                    <button 
                                        id="{{ it.tabId }}"
                                        type="button"
                                        class="nav-link {{ tabActive it }}"
                                        aria-selected="{{ tabSelected it }}"
                                        aria-controls="{{ it.paneId }}"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#{{ it.paneId }}">
                                            {{ tabLabel it }}
                                    </button>
                                </li>
                            {{/each}}
                        </ul>

                        <div class="tab-content container-fluid">
                            {{#each it in tabItems }}
                                <div
                                    class="tab-pane {{ paneActive it }} pr-tab" 
                                    id="{{ it.paneId }}" 
                                    role="tabpanel" 
                                    aria-labelledby="{{ it.tabId }}"
                                    tabindex="0">
                                        {{{ paneContent it }}}
                                </div>
                            {{/each}}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{_ namespace "dialogs.close" }}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
