<template name="prEdit">
    <div class="prEdit">

    </div>
</template>

<template name="prEdit_body">
    <div class="prEdit-body">

        {{> prEditPanel }}

    </div>
</template>

<template name="prEdit_footer">
    <div class="prEdit-footer">

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ i18n key="dialogs.cancel" }}</button>
        <button type="button" class="btn btn-primary pr-submit">{{ i18n key="dialogs.save" }}</button>

    </div>
</template>
